@import url( "https://fonts.googleapis.com/css?family=Inter:400,300, 700");

:root {
    --black : rgba(0,0,0,1);
    --gun-powder : rgba(63,61,86,1);
    --armadillo : rgba(67,62,62,1);
    --sonic-silver: rgba(119,112,112,1);
    --shady-lady : rgba(169,164,164,1);
    --quill-grey : rgba(212,212,212,1);
    --mercury-2 : rgba(229,229,229,1);
    --mercury : rgba(230,230,230,1);
    --white : rgba(255,255,255,1);
    
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 36px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 72px;
    --font-family-inter: "Inter" ;
    }
    
    .inter-normal-gun-powder-18px{
    color: var(--gun-powder);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    
    .inter-bold-white-48px{
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-normal-armadillo-36px{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
    }
    
    
    .inter-bold-black-24px{
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-normal-shady-lady-18px{
    color: var(--shady-lady);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    
    .inter-normal-armadillo-18px{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    .inter-bold-armadillo-36px{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
    }
    
    
    .inter-bold-black-18px{
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-normal-sonic-silver-18px{
    color: var(--sonic-silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    
    .inter-bold-armadillo-24px{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-bold-armadillo-18px{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-bold-armadillo-18px-2{
    color: var(--armadillo);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    .inter-normal-white-18px-2{
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    .inter-normal-black-18px{
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }
    
    .inter-bold-gun-powder-48px{
    color: var(--gun-powder);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
    }
    
    .inter-normal-white-18px{
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
    }

    .electric-vehicle {
    align-items: center;
    background-color: var(--mercury-2) ;
    border: 1 px none;
    display: flex;
    flex-direction: column;
    height: 1936px;
    padding: 23px 0;
    width: 1440px;
}

.image-12 {
    height: 516px;
    margin-top: 41px;
    width: 1440px;
}

.title {
    height: 58px;
    letter-spacing: -0.82px;
    line-height: normal;
    margin-top: 34px;
    min-width: 578px;
}
.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sed-ut-perspiciatis {
    height: 90px;
    letter-spacing: -0.41px;
    line-height: normal;
    margin-top: 15px;
    text-align: center;
    width: 728px;
}
.overlap-group {
    height: 985px;
    margin-top: 72px;
    position: relative;
    width: 1440px;
}
.general-information {
    left: 95px;
    letter-spacing: -0.82px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 34px;
    width: 339px;
}
.vector {
    height: 605px;
    left: 0;
    position: absolute;
    top: 0;
    width: 565px;
}
.rectangle-33 {
    background-color: var(--mercury-2) ;
    height: 300px;
    left: 352px;
    position: absolute;
    top: 685px;
    width: 680px;
}
.when-tuesday-thur {
    height: 371px;
    left: 80px;
    letter-spacing: -0.61px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 211px;
    width: 383px;
}
.be-a-part-of-a {
    height: 152px;
    left: 439px;
    letter-spacing:-0.41px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 749px;
    width: 507px;
}
.image-12-1 {
    height: 798px;
    left: 530px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 910px;
}
.header-home {
    align-items: center;
    display: flex;
    margin-right: 246px;
    margin-top: 17px;
    min-width: 824px;
}
.logo-removebg-preview-1 {
    cursor: pointer;
    height: 62px;
    object-fit: cover;
    width: 175px;
}
.electric-vehicle .nav-item-4 {
    align-items: flex-start;
    display: flex;
    margin-bottom: 0.37px;
}
.nav-item-3 {
    margin-left: 25px;
    min-width: 70px;
}
.electric-vehicle .home-4 {
    height: 26px;
    letter-spacing:-0.31px;
    line-height: normal;
    margin-top :-1px;
    text-align: center;
    width: 70px;
}
.nav-item-l {
    margin-left: 203px;
    min-width: 70px;
}
.place {
    height: 26px;
    letter-spacing: -0.31px;
    line-height: normal;
    margin-top:-1px;
    text-align: center;
    width: 70px;
}
.nav-item {
    align-items: flex-start;
    display: flex;
    margin-bottom: 0.37px;
    margin-left: 22px;
    min-width: 70px;
}
.nav-item-2 {
    height: 26px;
    margin-left: 22px;
    min-width: 75px;
    padding: 1px;
}
.home {
    height: 22px;
    letter-spacing: -0.31px;
    line-height: normal;
    min-width: 74px;
    text-align: center;
}





