
/*
div.header {
	display: inline-block;
  	width: 100px;
  	height: 100px;
  	padding: 5px;
  	 
} not what I wanted to achieve :(	*/



/* "inherit" used here gets rid of default styles for links such as being blue before click, purple after, and having an underline:*/
a:link { 
	color: inherit; text-decoration: none /*underline*/; 
}
a:visited { 
	color: inherit; text-decoration: none; 
}
a:hover { 
	color: inherit; text-decoration: none; 
}
a:active { 
	color: inherit; text-decoration: none; 
}

div.header {
	display: inline-flex; /*Aligns icon and text by center instead of 
							bottom of block*/
	/*position: absolute;*/
	/*text-align: center; already did in headerText*/
	width: 100%; /*makes div span across screen not just one section*/
	justify-content: center; /*actually centers block itself*/
	/* position: fixed; */

}

p.headerText { /*content containing both image and text of header*/
	/*position: static;*/
	/*text-align: center;*/ /*does not affect anything.  not
							established in html file either.
							only the entire header is center-
							ed ("justify-content")*/
	margin: 25px 5px; 
	margin-right: 25%;
	/*<font color="#3F3D56"; style="font-family: Inter;">*/
	font-family: Inter;
	font-size: 20px;
	color: #3F3D56;

	/*align-content: center;*/
	/*left: 200px;*/
	/*top: 20px;*/
}


font.fontspecific:hover {
	color: #0152A1;
}

img.IEEEimage {
	/*position: absolute;*/
	/*right: 200px;*/
	/*margin: 5px 5px;*/
	margin-right: 5%;
	/*margin-right: 200px;*/
	/*top: 200px;*/
}

div.backgroundSpace {
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	/*overflow-y: scroll;*/ /*adds a scroll bar but you can't move page with it because there is no overflow or anything to view/hide*/
}


div.welcomeMsg {
	justify-content: center;
}

p.welcomeTitle {
	justify-content: center;
	/*text-align: center;*/
	/*margin-left: 50%;*/
	width: 100%; /*NOT to be confused with width of PAGE.  this is the
					width of the text itself*/
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 72px;
	margin: 30px 200px;
}

p.welcomeBody{
	justify-content: center;
	/*width:  25%;*/
	font-family: Inter;
	font-size: 36px;
	margin: -30px 200px;
}

button.welcomeBtn {
	margin: 50px 200px;
	font-size: 24px;
	font-family: Inter;
	font-weight: bold;
	color: white;
	background-color: #0152A1;
	padding: 24px 54px;
	border-radius: 90px;
	border: 2px solid #0152A1; /*Unfortunately, with a border enabled, it looks
								/*like the button is not be toggled despite clicking*/
}
button.welcomeBtn:hover {
	background-color: #3F3D56;
	border: 2px solid #3F3D56;
}

img.theDude {
	float: right; 
	margin-right: 8%;
	margin-top: -10%;
}

/* --------------------------------------------------------------------- */

/* Rest of content past welcome screen below: */

.line {
	height: 2px;
	width: 75%;
	background-color: #555;
	margin-left: 10%;
}

div.pageBlock {
	margin-top: -20px; /* There was a wide gap between div's, so this was the best option*/
	background-color: #E5E5E5;
}

p.pageTitle {
	width: 50%; /*NOT to be confused with width of PAGE.  this is the
					width of the text itself*/
	margin-left: 10%;
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 48px;
}

p.pageText {
	width: 50%; /*NOT to be confused with width of PAGE.  this is the
					width of the text itself*/
	margin-left: 10%;
	/* margin-right: 50%; does nothing */
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 24px;
}

/* --------------------------------------------------------------------- */

/* more specific:*/

/* Car section */
img.theCar {
	float: right; /* white space in back for some reason.  Keep coding and hopefully it'll go away. */
	margin-right: 10%;
	margin-top: -15%;
}

button.viewBtn {
	font-size: 24px;
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	/* background-color: #0152A1; */
	padding: 24px 54px;
	border-radius: 20px;
	border: 2px solid #3F3D56; 
}
button.viewBtn:hover {
	color: white;
	background-color: #615e84;
	border: 2px solid #615e84;
}

/* Events section */

.eventSection {
	display: inline-flex;
	margin-left: 10%;
	align-items: baseline;
	align-content: center;
	width: 100%
}

.eventContainer {
	display: inline-flex; /* before coding this, boxes were on top of each other, instead of side by side */
	width: 360px;
	height: 250px;
	/* position:absolute; */
}

.eventLeft {
	background-color: #3F3D56;
	width: 150px;
	height: 250px;
	text-align: center;
	/* align-items: baseline; */
	/* align-content: center; */
	/* align-items: center; */
}

.eventLeftText {
	margin-top: 40%;
	font-family: Inter;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 48px;
}

.eventRight {
	background-color: #D4D4D4;
	width: 210px;
	height: 250px;
	text-align: center;
}
.eventRightText {
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;
}
font.eventTitle {
	font-family: Inter;
	font-weight: bold;
	color: black;
	font-size: 24px;
}
font.eventDescription {
	font-family: Inter;
	font-weight: bold;
	color: black;
	font-size: 18px;
}

.eventContainerViewAll {
	height: 250px;
	width: 90%;
	display: inline-flex;
	align-content: center;
	margin-left: 5%;
	margin-right: 30%;
}

.eventRightViewAll {
	background-color: #D4D4D4;
	width: 80%;
	height: 250px;
	text-align: center;
}
/* --------------------------------------------------------------------- */

.leaderTitle {
	margin-left: 20%;
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 48px;
	width: 100%;
}

.leaderSection {
	/* width: 80%; */
	display: inline-flex;
	margin-left: 10%;
	align-items: baseline;
	/* text-align: center; */
	/* padding: -5000%; */
	
}

.leaderText {
	/* margin-left: 30%; */
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 18px;
	position:relative;
	margin-right: 15%;
	width: 100%;
	margin-top: 10%;
}
.leaderGrid {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	margin-left: 20%;
}
.leaderContainer{
    float: left;
	margin-right: 40%;
}

.leaderSection {
	margin-left: 23%;
	display: inline-flex;
	width: 50%;
	/* margin:auto; */ /*rarely works */

}

.leaderImage {
	display: block;
	/* margin-bottom: 50px; */
}

.leaderCaption {
	display: block;
	width: 80%;
	text-align: center;
	justify-content: baseline;
}



/*Car Project Page*/
/* --------------------------------------------------------------------- */

.TopMenu:hover {
	color: #0152A1;
}
.TopMenu {
	font-size: 24px;	
}

.CarProjectPageBackground{
	background-color: #e5e5e5;
}

.InsideTeamPhoto {
    height: 516px;
    margin-top: 41px;
    width: 1440px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.ContentTitle {
    width: 50%; 
    display: block;
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto; 
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 48px;
    text-align: center;
}

.VehicleClubDesc{
    width: 50%; 
	margin-top: 20px;
    display: block;
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto; 
	font-family: Inter;
	font-weight: bold;
	color: #3F3D56;
	font-size: 24px;
}

/*The div that contains the main content of car project page*/
.ContentContainer{
	align-content: center;
	width: 100%;
}

/* Make a 1x1 grid and use position:relative to shift the bubble 
away from the outside image. And this is what defines the grid and 
the bubble/image is its children*/
.GeneralInfoAndOutsidePhotoContainer{
	display: grid;
	margin-left: 50%; 
	margin-right: 50%; 
	position: relative; 
	right: 200px;
}

/* This is the parent of the bubble and the general info text
it goes in the 1x1 grid and gets pushed from the right by 500px
its z index is 1 because it needs to be "cut off" by the image
*/
.GeneralInfoAndBubbleContainer{
	grid-column: 1; 
	grid-row: 1; 
	position: relative; 
	right: 500px; 
	z-index: 1;
}

/*set width and hight of the bubble*/
.GeneralInfoBubble{
	height: 605px; 
	width: 565px;
}

/*push text from bottom and right to make it look like
its in the bubble*/
.GeneralInfoTextContainer{
	position:relative; 
	bottom: 530px; 
	right: 150px;
}

/*the container for the content of general info*/
.GeneralInfoContentContainer{
	text-align: center;
}

.GeneralInfoContentHeader{
    color: #433e3e;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

.GeneralInfoContentBody{
    color: #433e3e;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

/*Set grid and column for the 1x1 grid to place it there
apparently there is no need to shift it, it looks proper
how it normally flows*/
.OutsideImageAndTextContainer{
	grid-column: 1; 
	grid-row: 1;
	z-index: 2;
}

.OutsideTeamPhoto{
	width: 900px;
	height: 800px;
}

/*Makes the text below image actually bottom left of image
by using position relative and making it a higher z index to
render it above the image*/
.TextBelowOutsideImageContainer{
	position: relative; 
	bottom: 150px; 
	right: 150px; 

	z-index: 3; /*to make it display above the image*/

	padding:40px; /*for the text to not touch the cutout*/

	font-family: Inter; 
	font-weight: bold; 
	color: #3F3D56; 
	font-size: 24px;  
	background-color: #e5e5e5; 
	width: 700px;
}

/* opens window when clicked */
.button{
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
}

.overlay:target{
	visibility: visible;
	opacity: 1;
}

/* window border */
.wrapper{
	margin: 70px auto;
    padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 40%;
    position: relative;
	transition: all 5s ease-in-out;
}

/* window x */
.wrapper .close{
	position: absolute;
	top: 20px;
	right: 3%;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;

}

.wrapper.close:after{
	top: 200px
}

.wrapper .content{
	max-height: 30%;
	overflow: auto;
}

.name{
	color: #0E4B86;
	font-size: 32px;
	padding-top: 30px;
}

.title{
	font-weight: bold;
	font-size: 20px;
}

.description-bold{
	font-weight: bold;
	font-size: 16px;
}
.description{
	font-size: 16px;
}